.qprec { 
  margin-top: 90px;
  padding-bottom: 63px;
  margin-top: 2px;
  border-top-width: 71px;
  border-left-width: 56px;
  font-size: 82px;
  line-height: 28px;
  padding-right: 19px;
  padding-left: 11px;
  line-height: 4px;
  border-bottom-width: 52px;
  padding-top: 59px;
  border-top-width: 19px;
  margin-right: 27px;
  line-height: 10px;
}
